body{
    background: linear-gradient(to bottom right, #50a3a2 0%, #f31212 100%);
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Poppins';
    font-size: 14px;
    color: #626262;
    letter-spacing: 0em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

a{
    text-decoration: none;
    color: #171717;
}

.background.gradient {/*fondo degradado*/
    background: #50a3a2;
    background: linear-gradient(to bottom right, #2041a5 0%, #3dd8ec 100%);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-bubbles {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.bg-bubbles li {
    animation: icons  infinite;
    color: rgba(255, 255, 255, 0.5);
    bottom: -320px;
    display: block;
    font-size: 80px;
    list-style: none;
    position: absolute;
    animation-delay: 0s;
    animation-duration: 35s;
    transition-timing-function: linear;
    width: 80px;
}


.bg-bubbles li:nth-child(1) {
    left: 2%;
  }  /* Amazon */

  .bg-bubbles li:nth-child(2) {
    animation-delay: 15s;
    left: 3%;
  }/* Google */

  .bg-bubbles li:nth-child(3) {
    animation-delay: 30s;
    left: 5%;
    font-size: 120px;
  }/* GitHub */

  .bg-bubbles li:nth-child(4) {
    animation-delay: 25s;
    left: 7%;
  }/*RSS */

  .bg-bubbles li:nth-child(5) {
    animation-delay: 18s;
    left: 7%;
  }/* Apple */

  .bg-bubbles li:nth-child(6) {
    animation-delay: 17s;
    left: 90%;
    font-size: 100px;
  }/* Android */

  .bg-bubbles li:nth-child(7) {
    animation-delay: 22s;
    left: 90%;
  }/* Chrome */

  .bg-bubbles li:nth-child(8) {
    animation-delay: 9s;
    left: 90%;
  }/* HTML5 */

  .bg-bubbles li:nth-child(9) {
    animation-delay: 14s;
    left: 90%;
  }/* CSS3 */

  .bg-bubbles li:nth-child(10) {
    animation-delay: 4s;
    left: 90%;
    font-size: 110px;
  }/* Git */

  @keyframes icons {
    0% {
        transform: translateY(-130rem);
    }
    100% {
        transform: translateY(0) rotate(600deg);
    }
  }

input, textarea, button {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Poppins';
    font-size: 13px;
    width: 100%;
    height: 60px;
    color: #171717;
    background: none;
    border: none;
    border-bottom: 1px solid #d8dbe2;
    appearance: none;
    resize: none;
    outline: 0;
    transition: all 0.3s ease 0s;
    border-radius: 0px;
}

input:focus, textarea:focus, button:focus {
    color: #171717;
    border-bottom: 1px solid #f39c12;
}

.title{
    text-align: left;
    margin: 0 0 15px 20px;
    padding: 0 0 5px 0;
    position: relative;
    font-size: 17px;
    color: #171717;
    line-height: 21px;
    font-weight: 500;
}

.title::before{
    content: '';
    position: absolute;
    left: -12px;
    top: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(135deg, rgb(243,156,18, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
    z-index: -1;
    border-radius: 30px;
}

.title::after{
    content: '';
    position: absolute;
    left: -40px;
    bottom: -15px;
    width: 95%;
    height: 1px;
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

.line-left{
    position: relative;
}
.line-left::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

.line-down{
    position: relative;
}

.line-down::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

header{
    background-color: white;
    border-radius: 0 0 5px 5px;
    width: 100%;
    max-width: 540px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    z-index: 100;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header nav a {
    width: 100%;
    height: 72px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: color 0.3s ease 0s;
    font-size: 20px;
}

header nav a::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

header nav a .link{
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 4px;

}

header nav a:hover {
    color: #f39c12;
}

main{
    margin-top: 88px;
}

main .profile, main .about, main .resume, main .works, main .blog, main .contact{
    box-sizing: border-box;
    position: relative;
    background: #ffffff;
    text-align: center;
    z-index: 10;
    border-radius: 4px;
    max-width: 540px;
    margin: 0 auto;
}

main .about, main .resume, main .works, main .blog, main .contact{
    padding: 30px 20px 30px 20px;
    margin-top: 15px;
}

main .profile{
    margin-top: 18px;
    overflow: hidden;
}

.profile-background{
    background-image: url("img/bg2.jpg");
    height: 300px;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: -2;
}

.profile-background::after{
    content: '';
    position: absolute;
    right: -12%;
    bottom: -198px;
    width: 700px;
    height: 200px;
    background: #ffffff;
    transform: rotate(12deg);
    z-index: -1;
}

.profile-background::before{
    content: '';
    position: absolute;
    left: -12%;
    bottom: -198px;
    width: 700px;
    height: 200px;
    background: #ffffff;
    transform: rotate(348deg);
    z-index: -1;
}

.profile-image{
    position: relative;
    height: 84px;
}
.profile-image img{
    position: relative;
    top: -82px;
    border-radius: 50%;
    border: 3px solid white;
    width: 150px;
}

.profile-image::before{
    content: '';
    position: absolute;
    top: -69px;
    left: calc(50% - 78px);
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, rgb(243,156,18, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
    border-radius: 100%;
}

.profile-name{
    font-size: 32px;
    color: #171717;
    line-height: 32px;
    font-weight: 400;
    margin: 0 auto 0 auto;
}

.profile-profession{
    font-size: 14px;
    color: #f39c12;
    line-height: 14px;
    font-weight: 400;
}

.profile-profession::before{
    content: '\2022';
    margin-right: 4px;
}

.profile-profession::after{
    content: '\2022';
    margin-left: 4px;
}

.profile-social a{
    transition: all 0.3s ease 0s;
    margin: 0 6px;
    font-size: 16px;
}

.profile-social a:hover{
    text-decoration: none;
    color: #f39c12;
}

.profile-buttons{
    position: relative;
    display: flex;
    margin-top: 58px;
}
.profile-buttons::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

.profile-buttons a{
    position: relative;
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    line-height: 70px;
    font-size: 12px;
    font-weight: 500;
    color: #171717;
}



.profile-buttons a:hover{
    color: #f39c12;
}

.profile-buttons a:first-child::before, .profile-buttons a:first-child::after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

.profile-buttons a i{
    margin-left: 10px;
    font-size: 15px;
}

.about-aboutMe > div{
    padding: 5px 17px;
    position: relative;

}



.about-aboutMe > div > div{
    display: flex;
    flex-wrap: wrap;
}

.about-aboutMe > div > div > div{
    width: 50%;
    text-align: left;
}

.about-aboutMe > div > div > div span{
    font-weight: 500;
    font-size: 13px;
}


.about-aboutMe p{
    text-align: left;
}

.about-services{
    margin-top: 50px;
}

.about-services >div{
   display: flex;
   flex-wrap: wrap;
   position: relative;
}

.about-services article{
    position: relative;
    width: 100%;
    text-align: left;
    padding: 15px 20px;
    box-sizing: border-box;
}

.about-services article .fas{
    margin: 0;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 32px;
    color: #f39c12;
    background: linear-gradient(135deg, rgb(243,156,18, 0.4) 0%, rgba(46, 202, 127, 0.01) 100%);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-services article h4{
    font-size: 13px;
    color: #171717;
    font-weight: 500;
    text-transform: uppercase;
}

.about-services article p{
    font-size: 14px;
    line-height: 1.6;
    padding: 0;
}

.about-pricing{
    margin-top: 30px;
}

.about-pricing .disabled{
    text-decoration: line-through;
    opacity: 0.6;
}

.about-pricing .new{
    margin: 0 0 0 5px;
    padding: 0 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #171717;
    background: rgb(243,156,18, 0.4);
    font-weight: 300;
    border-radius: 2px;
}


.about-pricing > div{
    display: flex;
}

.about-pricing > div > div{
    width:50%;
}

.about-pricing > div > div > div{ 
    padding: 25px 0px;
}

.about-pricing > div > div > div > div{
    padding: 5px 0;
    font-size: 14px;
    color: #171717;
}

.about-pricing .amount{
    margin: 15px 0 25px 0;
}

.about-pricing .dollar{
    margin: 0 3px;
    position: relative;
    bottom: 7px;
    display: inline-block;
    vertical-align: top;
    font-size: 17px;
    font-weight: 400;
    color: #171717;
}

.about-pricing .number{
    margin: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 42px;
    line-height: 26px;
    font-weight: 500;
    color: #171717;
}

.about-pricing .period{
    bottom: auto;
    top: 7px;
    vertical-align: bottom;
    font-size: 13px;
    color: #626262;
    position: relative;
    margin-left: 7px;
}

.about-pricing .icon{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 32px;
    color: #f39c12;
}

.about-pricing a{
    position: relative;
    float: left;
    width: 100%;
    height: 70px;
    line-height: 70px;
    font-size: 12px;
    color: #171717;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease;
    border: none;
}

.about-pricing a:hover{
    color: #f39c12;
}

.about-fun{
    margin-top: 50px;
}

.about-fun > div{
    display: flex;
    justify-content: space-around;
}

.about-fun > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 148px;
    width: 25%;
    padding: 0 16px;
}

.about-fun .fas{
    margin: 0 auto;
    width: 60px;
    height: 43px;
    text-align: center;
    font-size: 26px;
    color: #f39c12;
}

.about-clients{
    margin-top: 50px;
}

.about-clients .images{
    display: flex;
}

.about-clients .images a{
    width: 25%;
    padding: 18px;
}
.about-clients .images img{
    max-width: 100%;
    opacity: 0.4;
}

.resume-lines{
    display: flex;
}

.resume-line h4{
    margin: 0;
    text-align: left;
    padding: 20px 18px;
    font-size: 13px;
    line-height: 13px;
    color: #171717;
    font-weight: 500;
    text-transform: uppercase;
}

.resume-line h4 .fas{
    position: relative;
    float: left;
    top:-7px;
    width: 40px;
    height: 40px;
    font-size: 26px;
    color: #f39c12;
}

.resume-line{
    flex: 1;
    text-align: left;
}

.resume-line article{
    padding: 15px 15px;
}

.resume-line .date{
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
    display: inline-block;
    font-size: 11px;
    line-height: 18px;
    color: #d8dbe2;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 4px;
}


.resume-line .date::before{    
    content: '';
    position: absolute;
    left: -19px;
    top: 4px;
    width: 9px;
    height: 9px;
    background: #d8dbe2;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
}

.resume-line .date.active{
    color: #f39c12;
}

.resume-line .date.active::before{
    background: #f39c12;
}

.resume-line .name{
    margin: 0;
    font-size: 13px;
    color: #171717;
    font-weight: 500;
    text-transform: uppercase;
}

.resume-line .company{
    margin: 0 0 10px 0;
    font-size: 11px;
    color: #999999;
    font-weight: 300;
    text-transform: uppercase;
}

.resume-skills{
    margin-top: 50px;
}
.resume-skills > div{
    display: flex;
}
.resume-skills > div section{
    flex: 1;
    text-align: left;
}

.resume-skills > div section > div{
    padding: 18px 20px;
}

.resume-skills > div section > div > div:first-child{
    margin: 0 0 8px 0;
    font-size: 14px;
    line-height: 14px;
    color: #626262;
    text-align: left;
}

.resume-skills > div section > div > div:last-child{
    width: 100%;
    background: #d8dbe2;
    height: 4px;
}

.resume-skills > div section > div > div > div{
    background: #f39c12;
    height: 4px;
}

.resume-skills h4{
    margin: 0;
    text-align: left;
    padding: 20px 18px;
    font-size: 13px;
    line-height: 13px;
    color: #171717;
    font-weight: 500;
    text-transform: uppercase;
}

.resume-skills h4 .fas{
    position: relative;
    float: left;
    top:-7px;
    width: 40px;
    height: 40px;
    font-size: 26px;
    color: #f39c12;
}

.works-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.works-header ul{
    display: flex;
    list-style: none;
    padding: 0;
    padding-bottom: 17px;
}

.works-header h3::after{
    content: '';
    position: absolute;
    left: -40px;
    bottom: -27px;
    width: 400%;
    height: 1px;
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
}

.works-header ul li{
    margin: 0 5px;
    cursor: pointer;
}

.works-content{
    display: flex;
    flex-wrap: wrap;
}

.works-content > div{
    width: 50%;
}

.works-content > div > div{
    padding:18px;
}

.works-content > div > div h4{
    padding: 0 0 2px 0;
    display: block;
    font-size: 13px;
    color: #171717;
    font-weight: 500;
    text-transform: uppercase;
    width: 126px;
    margin: 0 auto;
}

.works-content > div > div h5{
    margin: 0;
    font-size: 11px;
    color: #999999;
    font-weight: 300;
    text-transform: uppercase;
}

.works-content img{
    width: 100%;
}

.works-content img:hover{
    cursor: pointer;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, .75);
}

.modal figure{
    margin: 0;
    width: min-content;
    height: min-content;
    position: relative;
}

.modal span{
    position: absolute;
    top: -30px;
    right: -30px;
    font-size: 24px;
    color: #f39c12;
}

.modal .fa-window-close:before{
    content: "\f410"
}

.modal span:hover{
    cursor: pointer;
}

.modal img{
    height: 80vh;
}

.modal-on{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.blog-items article{
    padding: 16px;
}

.blog-items article > div{
    padding: 10px 0 0 0;
    position: absolute;
    left: 36px;
    bottom: 88px;
    width: 50px;
    height: 50px;
    font-size: 11px;
    line-height: 11px;
    color: #171717;
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    background: #ffffff;
    box-sizing: border-box;
}

.blog-items article > div span{
    display: block;
    font-size: 20px;
    line-height: 20px;
    color: #171717;
    font-weight: 700;
}

.blog-items img{
    width: 100%;
}

.blog-items h4{
    padding: 0 0 2px 0;
    display: block;
    font-size: 13px;
    color: #171717;
    font-weight: 500;
    text-transform: uppercase;
    margin: 3px 0;
}

.blog-items h5{
    margin: 0;
    font-size: 11px;
    color: #999999;
    font-weight: 300;
    text-transform: uppercase;
}

main .contact{
    margin-bottom: 40px;
}

.contact-information{
    display: flex;
    flex-wrap: wrap;
    padding: 11px 18px;
}

.contact-information > div{
    width: 50%;
    text-align: left;
}

.contact-information > div span{
    font-weight: 500;
    font-size: 13px;
}
.contact-form{
    margin-top: 50px;
}
.contact-form form{
    padding:20px 20px;
}

.contact-form .double-line{
    display: flex;
    margin-bottom: 30px;
}

.contact-form .double-line > div{
    flex:1;
    padding-right: 15px;
}

.contact-form .double-line input{
    width: 100%;
}

.contact-form button {
    border: none;
    width: auto;
    transition: color 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
}

.contact-form button:hover {
    color: #f39c12;
}

@media only screen and (min-width: 540px){
    header{
        left: calc(50% - 270px);
    }
}

@media only screen and (min-width: 1040px) {
    .selected{
        color: #f39c12;
    }
    .page{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header{
        max-width: 80px;
        position: relative;
        border-radius: 5px;
        left: -6px;
    }
    header nav{
        display: flex;
        flex-direction: column;
    }
    header nav a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.7) 0%, rgba(255, 255, 255, 0) 70%);
    }

    main{
        display: flex;
        margin: 0;
        width: 1020px;
    }

    main .about, main .resume, main .works, main .blog, main .contact {
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        position: relative;
        top: 16px;
        transform: translateX(-450px);
        transition: opacity 1s ease, transform 1s ease;
        z-index: 0;
        margin: 0;
        padding: 0;
    }

    main .profile{
        width: 480px;
        height: 600px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
        margin: 0;
    }
    main .view{
        height: 574px;
        width: 540px;
        padding: 30px 20px 30px 20px;
        overflow: auto;
        opacity: 1;
        transform: translateX(-8px);
    }

    main .view::-webkit-scrollbar {
        width: 5px;
      }
       
    main .view::-webkit-scrollbar-track {
        background: #ddd;
      }
       
    main .view::-webkit-scrollbar-thumb {
        background: #666; 
      }

      main .contact {
        margin-bottom: 0;
    }
}
